---
export interface Props {
  title: string
}

const props = Astro.props
const title = props.title
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Quick Scoping Jeets off the Solana Blockchain" />
    <meta name="view-transition" content="same-origin" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/jpg" href="/assets/logo.jpg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet" />

    <title>{title}</title>
  </head>
  <body>
    <slot />

    <style lang="scss" is:global>
      @import '@/sass/global.scss';
    </style>
  </body>
</html>
